{% extends 'mainApp/index.html' %}
{% load staticfiles %}
{% load i18n %}

{%block mainTitle%}<title>{% trans 'Страница поиска' %}</title>{% endblock mainTitle%}

{% block scripts %}
	<script src="{% static 'js/filter.js' %}"></script>
{% endblock %}

{% block ico-filter %}
<img src="{% static 'img/filter-ico.png' %}" class="filter-ico">
{% endblock %}

{% block lsb %}
<div class="control-window filter-window">
	<input type="submit" value="{% trans 'Закрыть' %}" class="button-control close-button close-button-filter">
	<form id="form-filter" method="POST" action="{% url 'catalog-main' %}">{% csrf_token %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class=" col-9 block-filter">
				<span class="block-filter-title">{% trans 'Цена:' %}</span><br>
				<input type="range">
			</div>
			<div class=" col-9 block-filter">
				<span class="block-filter-title">{% trans 'Жанры:' %}</span><br>
				<div class="block-box">
					{% for genre in genres %}
					<input type="checkbox" name="genre" value="{{genre.id}}" {% if genre.id in get_genres %}checked{% endif %}> {{genre.title}} <br>
					{% endfor %}
				</div>
			</div>
			<div class=" col-9 block-filter">
				<span class="block-filter-title">{% trans 'Метки:' %}</span><br>
				<div class="block-box">
					{% for tag in tags%}
					<input type="checkbox" name="tag" value="{{tag.id}}" {% if tag.id in get_tags %}checked{% endif %}> {{tag.title}}<br>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<input type="submit" value="{% trans 'Применить' %}" class="button-control filter-accept">
	</form>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">

			{% for obj in objects %}
			<div class="col-12 book-list">
				<div class="row">
					<div class="col-md-3 text-center">
						<div class="book-block-preview">
							<a href="{% url 'book-page' id=obj.id %}">
								<img src="{{obj.preview}}" class="book-preview">
							</a>
						</div>
					</div>
					<div class="col-md-9 ">
						<div class="" style="max-height:200px; color:#000;">
							<span class="book-title">
								<a href="{% url 'book-page' id=obj.id %}">{{obj.title}}</a>
							</span>
							<br>
							<span class="book-author">
								{{obj.author.all|join:", "}}
							</span>
							<p>
							<span>
								<strong>{% trans 'Жанр:' %}</strong> {% for genre in obj.genre.all %}
									{{genre.title}}			
								{% endfor %}
								<br>
								{% for tag in obj.tags.all %}
									# {{tag.title}}			
								{% endfor %}
							</span>
							</p>
						</div>
	
						<div class="book-price-div" style="width:200px;" data-id="{{obj.id}}">
							<button class="button-control button-price">
								<span class="book-price-nmb">
								{% if obj.discount %}
									{%if rune %}{{rune.rune}}{%else%} $ {%endif%} {{obj.price_discount}}
								{% else %}
									{%if rune %}{{rune.rune}}{%else%} $ {%endif%} {{obj.price}}
								{% endif %}
								</span>
								<span class="book-price-cart">
									{% trans 'В корзину' %}
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-5"></div>
		<div class="col-5">
		{% block pagination %}
			{% if objects.has_previous %}<a href="?page={{ objects.previous_page_number }}">{% trans 'Назад' %}</a>{% endif %}
			{% for i in paginator.page_range %}
				{% if i != objects.number %}
					<a href="?page={{i}}">{{i}}</a>
				{% else %}
					{{i}}
				{% endif %}
			{% endfor %}
			{% if objects.has_next %}<a href="?page={{ objects.next_page_number }}">{% trans 'Вперед' %}</a>{% endif %}
		{% endblock pagination %}
		</div>
		<div class="col-2"></div>
	</div>
</div>
{% endblock %}