{% extends 'mainApp/index.html' %}
{% load staticfiles %}
{% load i18n %}
{% load decpoint %}

{%block mainTitle%}<title>{% trans 'Корзина' %} - BookWorm</title>{% endblock mainTitle%}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/incart.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
	{% if objects %}
	<form id="form_cart" method="POST" action="{% url 'add-order' %}">{% csrf_token %}
		<div class="row">
		{% for object in objects %}
			<div class="col-md-12 book-content object{{object.id}}" style="margin-bottom:15px;">
				<div class="row">
					<div class="col-md-1 text-center">
						<input type="checkbox" name="books" value="{{object.id}}">
					</div>
					<div class="col-md-1">
						<img src="media/{{object.content_object.preview}}" width="80px">
					</div>
					<div class="col-md-4">
						<a href="{% url 'book-page' id=object.content_object.id %}">
							{{object.content_object.title}}
						</a>
					</div>
					<div class="col-md-2">
					{% if object.content_object.discount %}
						{%if rune %}{{rune.rune}}{%else%} $ {%endif%} {{object.content_object.price}} <br> 
						{%if rune %}{{rune.rune}}{%else%} $ {%endif%} <span class="price">{{object.content_object.price_discount}}</span> <br> 

						-{{object.content_object.discount}}%
					{% else %}
						{%if rune %}{{rune.rune}}{%else%} $ {%endif%} <span class="price">{{object.content_object.price|decpoint }}</span>
					{% endif %}
					</div>
					<div class="col-md-2">
						<a href="{% url 'add-order-1' id=object.id %}" class="buyit {% if not user.is_authenticated %}guest-buy{% endif %}" data-id="{{object.id}}">{% trans 'Оплатить' %}</a><br>
						<a href="#" class="outcart" data-id="{{object.id}}">{% trans 'Удалить' %}</a>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="col-12 text-right book-content">
			<b>{% trans 'Сумма заказа:' %}</b> {%if rune %}{{rune.rune}}{%else%} $ {%endif%} <span id="total_order_amount"></span>
			<div class="text-right">
				<div class="row">
				<div class="col-lg-8"></div>
				<div class="col-lg-4">
					<button type="submit" class="button-control button-blue button-cart-buy {% if not user.is_authenticated %}guest-buy{% endif %}" name="status" value="buy-selected">{% trans 'Оплатить выбранное!' %}</button>
					<button type="submit" class="button-control button-blue {% if not user.is_authenticated %}guest-buy{% endif %}" name="status" value="buy-all">{% trans 'Оплатить всю корзину!' %}</button>
				</div>
				</div>
			</div>
		</div>
		</div>
	</form>
</div>
{% else %}
<div class="container book-content">
	{% trans 'Ваша корзина пуста...' %}
</div>
{% endif %}
{% endblock content %}