html {
    position: relative;
    min-height: 100%;
  }

body{
    margin-bottom: 45px;
    color: #FFF;
    font-size: 18px;
    font-family: 'Arsenal', sans-serif;
    background: #525252; /* Old browsers */
    background: -moz-linear-gradient(top, #525252 0%, #333333 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(100%,#333333)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top, #525252 0%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, #525252 0%,#333333 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, #525252 0%,#333333 100%); /* IE10 preview */
    background: linear-gradient(to bottom, #525252 0%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

a:hover{
    text-decoration: none;
    text-decoration-line: none;
}

main{
    margin-top: 115px;
}

/* --- Navigation ---*/
nav{
    width: 100%;
    min-height: 105px;
    position: fixed;
    top:0;
    z-index: 20;
    background: #323232;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

nav .row{
    height:105px;
}

.logo-text a{
    font-size: 27px;
    color: #5bcffb;
    line-height:80%;
    font-weight: 800;
    text-decoration: none;
}

.filter-ico{
    position: absolute;
    top: 0.5em;
    left: 0;
    cursor: pointer;
}

.centerBlock {
    display: table;
    margin: auto;
  }

#filter-ico{
    width:30px;
    height:27px;
    cursor: pointer;
}

.search-cont{
    padding-top: 30px;
    padding-bottom: 32px;
}

.search-row{
    height:42px;
}

.search-input{
    width: 100%;
    height: 42px;

}

.search-button{
    width:32px;
    height:32px;
    background: url(file:///F:/HackZone/Other/html/img/search.png) no-repeat;
    border: 0;
    position: absolute;
    right: 1.3em; 
    cursor: pointer;
}
/* --- /Navigation ---*/


/* --- ABSTRACT --- */
.control-ico{
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 5px 0 0 5px;
    background: #323232;
    cursor: pointer;
    z-index: 20;
}
.icons{
    width: 40px;
    height: 40px;
    position: relative;
    top:.2em;
    left:.4em;
}

.control-window{
    display: none;
    width: 360px;
    height: 83%;
    position: fixed;
    top:105px;
    overflow-y: auto;
    z-index:21;
    background: #323232;
}

.button-control{
    width: 100%;
    height: 50px;
    background: #4f4f4f;
    border: none;
    color: #FFF;
    font-size: 18pt;
    font-weight: 500;
    cursor: pointer;
}
.button-control:hover{
    background: #919191;
}
.close-button{
    background: #920000;
}

.close-button:hover{
    background: #cf0404;
}
/* --- /ABSTRACT --- */


/* --- Popup --- */
.message-field{
    width:100px;
    position: fixed;
    right: 0;
    bottom: 0;
}
/* --- /Popup --- */



/* --- User --- */
#user-ico{
    right: 0;
    top: 10em;
    box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
    -webkit-box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
    -moz-box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
}

.avatar-ico{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top:0.3em;
    left:0.3em;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top:.2em;
    left:30%;
}

.user-window{
    right:0;
    box-shadow:-9px 9px 14px 5px rgba(0,0,0,0.71);
    -webkit-box-shadow:-9px 9px 14px 5px rgba(0,0,0,0.71);
    -moz-box-shadow:-9px 9px 14px 5px rgba(0,0,0,0.71);
}

.user-button{
    width: 100%;
    height: 50px;
    background: #4f4f4f;
    border: none;
    color: #FFF;
    font-size: 18pt;
    font-weight: 500;
}

.user-button:hover{
    cursor: pointer;
    background: #acaaaa;
}
/* --- /User --- */


/* --- Cart --- */
#cart-ico{
    right: 0;
    top: 15em;
    box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
    -webkit-box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
    -moz-box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
}
/* --- /Cart --- */


/* --- FILTER WINDOW --- */
.filter-window{
    left:0;
    box-shadow:9px 9px 14px 5px rgba(0,0,0,0.71);
    -webkit-box-shadow:9px 9px 14px 5px rgba(0,0,0,0.71);
    -moz-box-shadow:9px 9px 14px 5px rgba(0,0,0,0.71);
}

.close-button-filter{
    width: 100%;
    height: 50px;
    background: #920000;
    border: none;
    color: #FFF;
    font-size: 18pt;
    font-weight: 500;
    cursor: pointer;
}

.block-filter{
    background: #4f4f4f;
    margin:10px 0;
}

.block-filter-title{
    font-size:24px;
}

.block-box{
    height:200px;
    overflow-y:auto;
}

.filter-accept{
    background: #7cba3f;
}
.filter-accept:hover{
    background: #9eec50;
}
/* --- /FILTER WINDOW --- */

/* --- FeedBack --- */
#feedback-ico{
    right: 0;
    top: 25em;
    box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
    -webkit-box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
    -moz-box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
}


.feedback-window{
    right:0;
    box-shadow:-9px 9px 14px 5px rgba(0,0,0,0.71);
    -webkit-box-shadow:-9px 9px 14px 5px rgba(0,0,0,0.71);
    -moz-box-shadow:-9px 9px 14px 5px rgba(0,0,0,0.71);
}
/* --- /FeedBack --- */

/* --- Cart --- */
#setting-ico{
    right: 0;
    top: 20em;
    box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
    -webkit-box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
    -moz-box-shadow:-3px 5px 14px 1px rgba(0,0,0,0.71);
}

.setting-window{
    right: 0;
    box-shadow:-9px 9px 14px 5px rgba(0,0,0,0.71);
    -webkit-box-shadow:-9px 9px 14px 5px rgba(0,0,0,0.71);
    -moz-box-shadow:-9px 9px 14px 5px rgba(0,0,0,0.71);
}
/* --- /Cart --- */

/* --- MainContent ---*/
.book{
    width: 100%;
    height: 350px;
    background: #FFF;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    box-shadow:0px 1px 14px 5px rgba(0,0,0,0.71);
    -webkit-box-shadow:0px 1px 14px 5px rgba(0,0,0,0.71);
    -moz-box-shadow:0px 1px 14px 5px rgba(0,0,0,0.71);
}

.book-list{
    width: 100%;
    min-height: 250px;
    background: #FFF;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    box-shadow:0px 1px 14px 5px rgba(0,0,0,0.71);
    -webkit-box-shadow:0px 1px 14px 5px rgba(0,0,0,0.71);
    -moz-box-shadow:0px 1px 14px 5px rgba(0,0,0,0.71);
}

.book-block-preview{
    width: 100%;
    height: 220px;
}

.book-preview{
    width: 150px;
    height: 220px;
}

.book-info{
    width:100%;
    height:70px;
    line-height:90%;
}

.book-title{
    color:#000;
    font-weight:800;
    font-size:18px;
}

.book-author{
    color:#333;
    font-size:15px;
    font-style: italic;
}

.book-price{
    font-size: 26px;
    font-weight: 800;
    height: 50px;
}
.button-price{
    background: rgb(255, 115, 0);
}
.button-price:hover{
    background: rgb(252, 143, 54);
}

.book-price-div:hover .book-price-nmb{
    display: none;
}

.book-price-div:hover .book-price-cart{
    display: block;
}

.book-price-nmb{
    font-weight: 800;
    display: block;
}
.book-price-cart{
    font-weight: 800;
    display: none;
}
/* --- /MainContent ---*/

/* --- BookContent ---*/
.book-content{
    color:#000;
    background: #FFF;
    padding: 10px 10px;
    box-shadow:0px 1px 14px 5px rgba(0,0,0,0.71);
    -webkit-box-shadow:0px 1px 14px 5px rgba(0,0,0,0.71);
    -moz-box-shadow:0px 1px 14px 5px rgba(0,0,0,0.71);
}

.book-div-preview{
}

.book-page-preview{
    width: 250px;
    height: 400px;
}

.book-div-info{
    
}

.comment-count{
    width:20px;
    height:20px;
    position: absolute;
    bottom:.3em;
    right:.5em;
    background:#FF0000;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    color:#FFF;
}
/* --- /BookContent ---*/



/* --- Footer ---*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
/* --- /Footer ---*/


/* --- Rating ---*/
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
/* --- /Rating ---*/



/* // Экстрамалые девайсы («телефоны», < 576px) */
@media (max-width: 575.98px) {
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .filter-ico{
        left:10% !important;
    }
    .filter-window{
        width: 100%;
    }
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .filter-ico{
        left:-2em;
    }
}

/* // Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {
    .filter-ico{
        left:-1em;
    }
}