{% extends 'mainApp/index.html' %}
{% load staticfiles %}
{% load i18n %}
{% load decpoint %}


{% block scripts %}
<script type="text/javascript" src="{% static 'js/order_valid.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row book-content">
		<div class="col-12">
			<form method="POST" action="{% url 'oplata' %}">
				{{form.errors}}
				{%csrf_token%}
				<span class="input_name_error"></span>
				<p>{{form.name.label}}: {{form.name}} <img src="{% static 'img/info.png'%}" class="ico-info" title="{{form.name.help_text}}"></p>
				<span class="input_country_error"></span>
				<p>{{form.country.label}}: {{form.country}} <img src="{% static 'img/info.png'%}" class="ico-info" title="{{form.country.help_text}}"></p>
				<span class="input_street_error"></span>
				<p>{{form.street.label}}: {{form.street}} <img src="{% static 'img/info.png'%}" class="ico-info" title="{{form.street.help_text}}"></p>
				<span class="input_apt_error"></span>
				<p>{{form.apt.label}}: {{form.apt}} <img src="{% static 'img/info.png'%}" class="ico-info" title="{{form.apt.help_text}}"></p>
				<span class="input_region_error"></span>
				<p>{{form.region.label}}: {{form.region}} <img src="{% static 'img/info.png'%}" class="ico-info" title="{{form.region.help_text}}"></p>
				<span class="input_city_error"></span>
				<p>{{form.city.label}}: {{form.city}} <img src="{% static 'img/info.png'%}" class="ico-info" title="{{form.city.help_text}}"></p>
				<p>{{form.postcode.label}}: {{form.postcode}}</p>
				<p>{{form.phone.label}}: {{form.phone}}</p>
				<hr />
				{% trans 'Количество товаров' %}: {% if books %}{{books|length}}{% else %}1{%endif%}<br>
				{% trans 'Общая сумма' %}: {%if rune %}{{rune.rune}}{%else%} $ {%endif%} <span id="total_order_amount"></span><br>
				<button class="button-control button-blue" name="books">{% trans 'Оплатить' %}</button><p>
			</form>
		</div>
	</div>
	<div class="row" style="margin-top:15px;">
		<!-- список товаров для покупки -->	
		{% if books is not None %}
			{% for book in books %}
				<div class="col-md-12 book-content" style="margin:15px 0;">
					<div class="row">
						<div class="col-md-1">
							<img src="/media/{{book.content_object.preview}}" width="80px">
						</div>
						<div class="col-md-4">
							<a href="{% url 'book-page' id=book.content_object.id %}">
								{{book.content_object.title}}
							</a>
						</div>
						<div class="col-md-2">
						{% if book.content_object.discount %}
							{%if rune %}{{rune.rune}}{%else%} $ {%endif%} {{book.content_object.price}} <br> 
							{%if rune %}{{rune.rune}}{%else%} $ {%endif%} <span class="price">{{book.content_object.price_discount|decpoint}}</span> <br> 
							-{{book.content_object.discount}}%
						{% else %}
							{%if rune %}{{rune.rune}}{%else%} $ {%endif%} <span class="price">{{book.content_object.price|decpoint}}</span>
						{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="col-md-12 book-content" style="margin:15px 0;">
				<div class="row">
					<div class="col-md-1">
						<img src="/media/{{book.content_object.preview}}" width="80px">
					</div>
					<div class="col-md-4">
						<a href="{% url 'book-page' id=book.content_object.id %}">
							{{book.content_object.title}}
						</a>
					</div>
					<div class="col-md-2">
					{% if book.content_object.discount %}
						{%if rune %}{{rune.rune}}{%else%} $ {%endif%} {{book.content_object.price}} <br> 
						{%if rune %}{{rune}}{%else%} $ {%endif%} <span class="price">{{book.content_object.price_discount|decpoint}}</span> <br> 
						-{{book.content_object.discount}}%
					{% else %}
						{%if rune %}{{rune.rune}}{%else%} $ {%endif%} <span class="price">{{book.content_object.price|decpoint}}</span>
					{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>	
{% endblock content %}