{% extends 'mainApp/index.html' %}
{% load i18n %}

{% block content %}
<div class="container">
	<div class="row book-content">
		<div class="col-12">
			<p style="font-size:30px;font-weight:800;">{% trans 'Заказ #' %} {{myorders.id}} ({% trans 'Статус' %}: {% if myorder.status %}{{myorder.status}}{%else%}{% trans 'В обработке' %}{%endif%})</p>
			<strong>{% trans 'Последнее обновление информации' %}:</strong> {{myorders.updated}}<br>
			<strong>{% trans 'Дата оформления' %}:</strong> {{myorders.created}}<br>
			<strong>{% trans 'Получатель' %}:</strong> {{myorders.name}}<br>
			<strong>{% trans 'Страна/Регион' %}:</strong> {{myorders.country}}<br>
			<strong>{% trans 'Улица, дом, квартира' %}:</strong> {{myorders.street}}<br>
			<strong>{% trans 'Квартира, блок' %}:</strong> {{myorders.apt}}<br>
			<strong>{% trans 'Край/Область/Регион' %}:</strong> {{myorders.region}}<br>
			<strong>{% trans 'Город' %}:</strong> {{myorders.city}}<br>
			<strong>{% trans 'Почтовый индекс' %}:</strong> {{myorders.postcode}}<br>
			<strong>{% trans 'Номер телефона' %}:</strong> {{myorders.phone}}
		</div>
	</div>
	<div class="row" style="margin-top:15px;">
	{% for object in objects %}
		<div class="col-md-12 book-content" style="margin:15px 0;">
				<div class="row">
					<div class="col-md-1">
						<a href="{% url 'book-page' id=object.content_object.id %}" target="_blank">
							<img src="/media/{{object.content_object.preview}}" width="80px">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% url 'book-page' id=object.content_object.id %}" target="_blank">
							{{object.content_object.title}}
						</a>
					</div>
					<div class="col-md-4">
						{%if rune %}{{rune.rune}}{%else%} $ {%endif%} {{object.price}}
					</div>
				</div>
			</div>
	{% endfor %}
	</div>
</div>	
{% endblock content %}