{% extends 'mainApp/index.html' %}
{% load staticfiles %}


{% block scripts %}
	<script type="text/javascript" src="{% static 'js/incart.js' %}"></script>
{% endblock %}



{% block content %}
<div class="container">
	<div class="row">
		{% for myorder in myorders %}
		<div class="col-md-12 book-content" style="margin-bottom:15px;">
			<div class="row">
				<div class="col-md-12">
					<p><a href="{% url 'order-info' id=myorder.id %}">Заказ № {{myorder.id}}</a> (Статус: {{myorder.status}})</p>
					{% for obj in myorder.orderobj.all %}
						<a href="{% url 'book-page' id=obj.content_object.id %}" target="_blank">
							<img src="/media/{{obj.content_object.preview}}" width="50px" height="80px">
						</a>
					{% endfor %}<br>
					Обновление информации: {{myorder.updated}}<br>
					Дата: {{myorder.created}}<br>
				</div>
			</div>
		</div>
		{% empty %}
		У вас нет заказов....
		{% endfor %}
	</div>
</div>	
{% endblock content %}