{% extends 'mainApp/index.html' %}

{% block content %}
<div class="container">
	<div class="row">
		{{myorders.status}}<br>
		{{myorders.name}}<br>
		{{myorders.country}}<br>
		{{myorders.street}}<br>
		{{myorders.apt}}<br>
		{{myorders.region}}<br>
		{{myorders.city}}<br>
		{{myorders.postcode}}<br>
		{{myorders.phone}}<br>
		{{myorders.updated}}<br>
		{{myorders.created}}<br>
	</div>
	<div class="row">
	{% for object in objects %}
		{{object.content_object.title}}<br>
	{% endfor %}
	</div>
</div>	
{% endblock content %}